body{
    font-family: sans-serif;
    text-align: center;
}
#countlabel{
    display: block;
    font-size: 10em;
}
.button{
    font-size: 1.5em;
    padding: 10px 20px;
    color: white;
    background: rgb(92, 179, 250);
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.25s;
}

.button:hover{
    background-color: rgb(0, 72, 255);
}